{{ form_start(form) }}

<br>
<div class="row">
    <div class="col-lg-12">
        <div class="row text-center">
            <div class="col-lg-2">
                <label>Keine</label>
            </div>
            <div class="col-lg-2">
                <label>Sehr Schlecht</label>
            </div>
            <div class="col-lg-2">
                <label>Eher Schlecht</label>
            </div>
            <div class="col-lg-2">
                <label>Durchschnitt</label>
            </div>
            <div class="col-lg-2">
                <label>Eher Gut</label>
            </div>
            <div class="col-lg-2">
                <label>Gut</label>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-lg-2">
                {{  form_widget(form.deutschKenntnis.0) }}
            </div>
            <div class="col-lg-2">
                {{  form_widget(form.deutschKenntnis.1) }}
            </div>
            <div class="col-lg-2">
                {{  form_widget(form.deutschKenntnis.2) }}
            </div>
            <div class="col-lg-2">
                {{  form_widget(form.deutschKenntnis.3) }}
            </div>
            <div class="col-lg-2">
                {{  form_widget(form.deutschKenntnis.4) }}
            </div>
            <div class="col-lg-2">
                {{  form_widget(form.deutschKenntnis.5) }}
            </div>
        </div>



    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <label class="labelFont">Anmeldestelle</label>
        {{  form_widget(form.anmeldeStelle, {'attr':{'placeholder': 'Anmeldestelle', 'class':'form-control'}}) }}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <label class="labelFont">Ansprechpartner</label>
        {{  form_widget(form.ansprechPartner, {'attr':{'placeholder': 'Ansprechpartner', 'class':'form-control'}}) }}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <label class="labelFont">Telefonnummer</label>
        {{  form_widget(form.tel, {'attr':{'placeholder': 'Telefonnummer', 'class':'form-control'}}) }}
    </div>
</div>

<br>

<input class="btn controlButton buttonFont btn-block blankLinkButton" type="submit" />
{{ form_end(form) }}

