{{ form_start(form) }}

<br>
<div class="row">
    <div class="col-lg-12">
        <label class="labelFont{{ form.deutschKenntnis.vars.required ? ' required' }}">Deutschkenntnisse</label>
        <div class="form-error">
            {{ form_errors(form.deutschKenntnis) }}
        </div>
        <div class="row text-center">
            <div class="col-lg-2">
                <label>Keine</label>
                <div class="row">
                    <div class="col-lg-12">
                        {{  form_widget(form.deutschKenntnis.0) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <label>Sehr schlecht</label>
                <div class="row">
                    <div class="col-lg-12">
                        {{  form_widget(form.deutschKenntnis.1) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <label>Schlecht</label>
                <div class="row">
                    <div class="col-lg-12">
                        {{  form_widget(form.deutschKenntnis.2) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <label>Durchschnittlich</label>
                <div class="row">
                    <div class="col-lg-12">
                        {{  form_widget(form.deutschKenntnis.3) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <label>Gut</label>
                <div class="row">
                    <div class="col-lg-12">
                        {{  form_widget(form.deutschKenntnis.4) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <label>Sehr gut</label>
                <div class="row">
                    <div class="col-lg-12">
                        {{  form_widget(form.deutschKenntnis.5) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <label class="labelFont{{ form.anmeldeStelle.vars.required ? ' required' }}">Anmeldestelle</label>
        <div class="form-error">
            {{ form_errors(form.anmeldeStelle) }}
        </div>
        {{  form_widget(form.anmeldeStelle, {'attr':{'placeholder': 'Anmeldestelle', 'class':'form-control'}}) }}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <label class="labelFont{{ form.ansprechPartner.vars.required ? ' required' }}">Ansprechpartner</label>
        <div class="form-error">
            {{ form_errors(form.ansprechPartner) }}
        </div>
        {{  form_widget(form.ansprechPartner, {'attr':{'placeholder': 'Max Mustermann', 'class':'form-control'}}) }}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <label class="labelFont{{ form.tel.vars.required ? ' required' }}">Telefonnummer</label>
        <div class="form-error">
            {{ form_errors(form.tel) }}
        </div>
        {{  form_widget(form.tel, {'attr':{'placeholder': '0123/456789', 'class':'form-control'}}) }}
    </div>
</div>

<br>

<button class="btn controlButton buttonFont btn-block blankLinkButton" type="submit">Weiter...</button>
{{ form_end(form) }}

