{{ form_start(form) }}


<div class="row">
    <div class="col-lg-12">
        <label class="labelFont">Name des Betriebs</label>
        {{  form_widget(form.name, {'attr':{'placeholder': 'Bsp.: Berufsschule I', 'class':'form-control',}}) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label class="labelFont">Straße und Hausnummer</label>
        {{  form_widget(form.strasse, {'attr':{'placeholder': 'Bsp.: Kerschensteinerstraße', 'class':'form-control'}}) }}
    </div>
    <div class="col-lg-6">
        {#
        <label class="labelFont">Hausnummer</label>
        {{  form_widget(form.hsnr, {'attr':{'placeholder': 'Bsp.: 6', 'class':'form-control'}}) }}
        #}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label class="labelFont">Postleitzahl</label>
        {{  form_widget(form.plz, {'attr':{'placeholder': 'Bsp.: 95448', 'class':'form-control'}}) }}
    </div>
    <div class="col-lg-6">
        <label class="labelFont">Ort</label>
        {{  form_widget(form.ort, {'attr':{'placeholder': 'Bsp.: Bayreuth', 'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label class="labelFont">Ansprechpartner</label>
        {{  form_widget(form.ansprPartner, {'attr':{'placeholder': ' Bsp.: Lisa Heinrich', 'class':'form-control'}}) }}
    </div>
    <div class="col-lg-6">
        <label class="labelFont">Kammer</label>
        {{  form_widget(form.kammer, {'attr':{'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label class="labelFont">Telefonnummer der Zentrale</label>
        {{  form_widget(form.telZentrale, {'attr':{'placeholder': 'Bsp.: 092150739360', 'class':'form-control'}}) }}
    </div>
    <div class="col-lg-6">
        <label class="labelFont">Durchwahl</label>
        {{  form_widget(form.telDurchwahl, {'attr':{'placeholder': 'Bsp.: 092150739360', 'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label class="labelFont">Fax</label>
        {{  form_widget(form.fax, {'attr':{'placeholder': 'Bsp.: 0921507393699', 'class':'form-control'}}) }}
    </div>
    <div class="col-lg-6">
        <label class="labelFont">Email</label>
        {{  form_widget(form.email, {'attr':{'placeholder': 'Bsp.: sekretariat@bs1-bt.de', 'class':'form-control'}}) }}
    </div>
</div>

<br>
<input class="btn BayreuthButton buttonFont btn-block blankLinkButton" type="submit" />
{{ form_end(form) }}

