{{ form_start(form) }}


<div class="row">
    <div class="col-lg-6">
        <label class="labelFont">Name des Betriebs</label>
        {{  form_widget(form.name, {'attr':{'placeholder': 'beispiel', 'class':'form-control',}}) }}
    </div>
    <div class="col-lg-6">
        <label class="labelFont">Kammer</label>
        {{  form_widget(form.kammer, {'attr':{'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label class="labelFont">Straße</label>
        {{  form_widget(form.strasse, {'attr':{'placeholder': 'beispiel', 'class':'form-control'}}) }}
    </div>
    <div class="col-lg-6">
        <label class="labelFont">Hausnummer</label>
        {{  form_widget(form.hsnr, {'attr':{'placeholder': 'beispiel', 'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label class="labelFont">Postleitzahl</label>
        {{  form_widget(form.plz, {'attr':{'placeholder': 'beispiel', 'class':'form-control'}}) }}
    </div>
    <div class="col-lg-6">
        <label class="labelFont">Ort</label>
        {{  form_widget(form.ort, {'attr':{'placeholder': 'beispiel', 'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label class="labelFont">Ansprechpartner</label>
        {{  form_widget(form.ansprPartner, {'attr':{'placeholder': 'beispiel', 'class':'form-control'}}) }}
    </div>
    <div class="col-lg-6">
        <label class="labelFont">Gemeindeschlüssel</label>
        {{  form_widget(form.gemeindeschluessel, {'attr':{'placeholder': 'beispiel', 'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label class="labelFont">Telefonnummer der Zentrale</label>
        {{  form_widget(form.telZentrale, {'attr':{'placeholder': 'beispiel', 'class':'form-control'}}) }}
    </div>
    <div class="col-lg-6">
        <label class="labelFont">Durchwahl</label>
        {{  form_widget(form.telDurchwahl, {'attr':{'placeholder': 'beispiel', 'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label class="labelFont">Fax</label>
        {{  form_widget(form.fax, {'attr':{'placeholder': 'beispiel', 'class':'form-control'}}) }}
    </div>
    <div class="col-lg-6">
        <label class="labelFont">Email</label>
        {{  form_widget(form.email, {'attr':{'placeholder': 'beispiel', 'class':'form-control'}}) }}
    </div>
</div>

<br>
<input class="btn BayreuthButton buttonFont btn-block blankLinkButton" type="submit" />
{{ form_end(form) }}

