<table class="table table-hover">
    <tbody>
    <tr>
        <th>Name</th>
        <td>{{ betrieb.name }}</td>
    </tr>
    <tr>
        <th>Straße</th>
        <td>{{ betrieb.strasse }} </td>
    </tr>
    <tr>
        <th>Ort</th>
        <td>{{ betrieb.plz }} {{ betrieb.ort }}</td>
    </tr>
    <tr>
        <th>Telefonnummer Zentrale</th>
        <td>{{ betrieb.telZentrale }}</td>
    </tr>
    <tr>
        <th>Ansprechpartner</th>
        <td>{{ betrieb.ansprPartner }}</td>
    </tr>
    <tr>
        <th>Telefonnummer Durchwahl</th>
        <td>{{ betrieb.telDurchwahl }}</td>
    </tr>
    <tr>
        <th>Fax</th>
        <td>{{ betrieb.fax }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ betrieb.email }}</td>
    </tr>
    </tbody>
</table>