{{ form_start(form) }}

<div class="conatiner">
    <div class="row">
        <div class="col-lg-6">
            <label class="labelFont">Alle Vornamen</label>
            {{ form_widget(form.vorname, {'attr': {'placeholder': 'Alle Vornamen', 'class': 'form-control',}}) }}
        </div>
        <div class="col-lg-6">
            <label class="labelFont">Nachname</label>
            {{ form_widget(form.nachname, {'attr': {'placeholder': 'Nachname', 'class': 'form-control',}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label class="labelFont">Rufname</label>
            {{ form_widget(form.rufname, {'attr': {'placeholder': 'Rufname', 'class': 'form-control',}}) }}
        </div>
        <div class="col-lg-6">
            <label class="labelFont">Geschlecht</label>
            {{ form_widget(form.geschlecht, {'attr': {'placeholder': 'Geschlecht', 'class': 'form-control',}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label class="labelFont">Straße</label>
            {{ form_widget(form.strasse, {'attr': {'placeholder': 'Straße', 'class': 'form-control',}}) }}
        </div>
        <div class="col-lg-6">
            <label class="labelFont">Hausnummer</label>
            {{ form_widget(form.hsnr, {'attr': {'placeholder': 'Hausnummer', 'class': 'form-control',}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label class="labelFont">Postleitzahl</label>
            {{ form_widget(form.plz, {'attr': {'placeholder': 'Postleitzahl', 'class': 'form-control',}}) }}
        </div>
        <div class="col-lg-6">
            <label class="labelFont">Ort</label>
            {{ form_widget(form.ort, {'attr': {'placeholder': 'Ort', 'class': 'form-control',}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label class="labelFont">Telefonnummer</label>
            {{ form_widget(form.tel, {'attr': {'placeholder': 'Telefon', 'class': 'form-control',}}) }}
        </div>
        <div class="col-lg-6">
            <label class="labelFont">Email</label>
            {{ form_widget(form.email, {'attr': {'placeholder': 'Email', 'class': 'form-control',}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label class="labelFont">Geburtsdatum</label>
            {{ form_widget(form.geburtsdatum, {'attr': {'placeholder': 'Geburtsdatum', 'class': 'form-control',}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label class="labelFont">Geburtsort</label>
            {{ form_widget(form.geburtsort, {'attr': {'placeholder': 'Geburtsort', 'class': 'form-control',}}) }}
        </div>
        <div class="col-lg-6">
            <label class="labelFont">Geburtsland</label>
            {{ form_widget(form.geburtsland, {'attr': {'placeholder': 'Geburtsland', 'class': 'form-control',}}) }}
        </div>
    </div>
    <div class="row" id="hide">
        <div class="col-lg-12">
            <label class="labelFont">Zuzug am</label>
            {{ form_widget(form.zuzugAm, {'attr': {'placeholder': 'Zuzug Am', 'class': 'form-control',}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label class="labelFont">Staatsangehörigkeit</label>
            {{ form_widget(form.staatsangehoerigkeit, {'attr': {'placeholder': 'Staatsangehörigkeit', 'class': 'form-control',}}) }}
        </div>
        <div class="col-lg-6">
            <label class="labelFont">Bekenntnis</label>
            {{ form_widget(form.bekenntnis, {'attr': {'class': 'form-control',}}) }}
        </div>
    </div>
</div>

<br>
<br>
<input class="btn btn-outline-primary BayreuthButton buttonFont btn-block" type="submit"/>
{{ form_end(form) }}