<h1>Schüler</h1>

<table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ schueler.id }}</td>
            </tr>
            <tr>
                <th>Vorname</th>
                <td>{{ schueler.vorname }}</td>
            </tr>
            <tr>
                <th>Nachname</th>
                <td>{{ schueler.nachname }}</td>
            </tr>
            <tr>
                <th>Rufname</th>
                <td>{{ schueler.rufname }}</td>
            </tr>
            <tr>
                <th>Geburtsdatum</th>
                <td>{{ schueler.geburtsdatum ? schueler.geburtsdatum|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Geburtsort</th>
                <td>{{ schueler.geburtsort }}</td>
            </tr>
        </tbody>
    </table>