{{ form_start(form) }}

<h1 class="headlineFont">Umschüler</h1>

<div class="row">
    <div class="col-lg-12">
        <label class="labelFont{{ form.traeger.vars.required ? ' required' }}">Träger</label>
        <div class="form-error">
            {{ form_errors(form.traeger) }}
        </div>
        {{  form_widget(form.traeger, {'attr':{'placeholder': 'Träger', 'class':'form-control'}}) }}
        <label class="labelFont{{ form.traegerSitz.vars.required ? ' required' }}">Trägersitz</label>
        <div class="form-error">
            {{ form_errors(form.traegerSitz) }}
        </div>
        {{  form_widget(form.traegerSitz, {'attr':{'placeholder': 'Trägersitz', 'class':'form-control'}}) }}
        <label class="labelFont{{ form.foerdererNr.vars.required ? ' required' }}">Förderernummer</label>
        <div class="form-error">
            {{ form_errors(form.foerdererNr) }}
        </div>
        {{  form_widget(form.foerdererNr, {'attr':{'class':'form-control'}}) }}
    </div>
</div>
<br>
<button class="btn controlButton buttonFont btn-block blankLinkButton" type="submit">Weiter...</button>
{{ form_end(form) }}

