{% extends 'base.html.twig' %}

{% block title %}UmschuelerDaten{% endblock %}

{% block body %}
    <h1>UmschuelerDaten</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ umschueler_daten.id }}</td>
            </tr>
            <tr>
                <th>Traeger</th>
                <td>{{ umschueler_daten.traeger }}</td>
            </tr>
            <tr>
                <th>TraegerSitz</th>
                <td>{{ umschueler_daten.traegerSitz }}</td>
            </tr>
            <tr>
                <th>FoerdererNr</th>
                <td>{{ umschueler_daten.foerdererNr }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('umschueler_daten_index') }}">back to list</a>

    <a href="{{ path('umschueler_daten_edit', {'id': umschueler_daten.id}) }}">edit</a>

    {{ include('umschueler_daten/_delete_form.html.twig') }}
{% endblock %}
