{{ form_start(form) }}

<div class="row">
    <div class="col-lg-12">
        <label class="labelFont{{ form.name.vars.required ? ' required' }}">Name der Schule</label>
        <div class="form-error">
            {{ form_errors(form.name) }}
        </div>
        {{  form_widget(form.name, {'attr':{'placeholder': 'Beispielschule', 'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label class="labelFont{{ form.art.vars.required ? ' required' }}">Art</label>
        <div class="form-error">
            {{ form_errors(form.art) }}
        </div>
        {{  form_widget(form.art, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="col-lg-6">
        <label class="labelFont{{ form.strasse.vars.required ? ' required' }}">Straße und Hausnummer</label>
        <div class="form-error">
            {{ form_errors(form.strasse) }}
        </div>
        {{  form_widget(form.strasse, {'attr':{'placeholder': 'Beispielstraße 15', 'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label class="labelFont{{ form.plz.vars.required ? ' required' }}">Postleitzahl</label>
        <div class="form-error">
            {{ form_errors(form.plz) }}
        </div>
        {{  form_widget(form.plz, {'attr':{'placeholder': '91234', 'class':'form-control'}}) }}
    </div>
    <div class="col-lg-6">
        <label class="labelFont{{ form.ort.vars.required ? ' required' }}">Ort</label>
        <div class="form-error">
            {{ form_errors(form.ort) }}
        </div>
        {{  form_widget(form.ort, {'attr':{'placeholder': 'Beispielstadt', 'class':'form-control'}}) }}
    </div>
</div>

<br>
<button class="btn controlButton buttonFont btn-block blankLinkButton">{{ button_label|default('Weiter...') }}</button>

{{ form_end(form) }}
