<h2 class="headlineFont">Schule</h2>


<table class="table table-hover">
    <tbody>
    <tr>
        <th>Schulname</th>
        <td>{{ schule.name }}</td>
    </tr>
    <tr>
        <th>Schulart</th>
        <td>{{ schule.art }}</td>
    </tr>
    <tr>
        <th>Straße</th>
        <td>{{ schule.strasse }}</td>
    </tr>
    <tr>
        <th>Hausnummer</th>
        <td>{{ schule.hausnummer }}</td>
    </tr>
    <tr>
        <th>Ort</th>
        <td>{{ schule.ort }}</td>
    </tr>
    <tr>
        <th>Postleitzahl</th>
        <td>{{ schule.plz }}</td>
    </tr>
    </tbody>
</table>