{% extends 'base.html.twig' %}

{% block title %}Kammer index{% endblock %}

{% block body %}
    <h1>Kammer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kammer in kammers %}
            <tr>
                <td>{{ kammer.id }}</td>
                <td>{{ kammer.name }}</td>
                <td>
                    <a href="{{ path('kammer_show', {'id': kammer.id}) }}">show</a>
                    <a href="{{ path('kammer_edit', {'id': kammer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('kammer_new') }}">Create new</a>
{% endblock %}
