{{ form_start(form) }}

<div class="row">
    <div class="col-lg-12">
        <div class="form-error">
            {{ form_errors(form.wohnheim) }}
        </div>
        <label class="labelFont{{ form.wohnheim.vars.required ? ' required' }}">Unterbringung in Wohnheim gewünscht</label>
        {{  form_widget(form.wohnheim) }}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <label class="labelFont{{ form.mitteilung.vars.required ? ' required' }}">Mitteilung</label>
        <div class="form-error">
            {{ form_errors(form.mitteilung) }}
        </div>
        {{  form_widget(form.mitteilung, {'attr':{'placeholder': 'Hier wichtige Informationen notieren', 'class':'form-control'}}) }}
    </div>
</div>
<br>
<button class="btn controlButton buttonFont btn-block blankLinkButton" type="submit">Weiter...</button>
{{ form_end(form) }}

