{% extends 'base.html.twig' %}

{% block title %}FluechtlingDaten index{% endblock %}

{% block body %}
    <h1>FluechtlingDaten index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DeutschKenntnis</th>
                <th>AnmeldeStelle</th>
                <th>AnsprechPartner</th>
                <th>Tel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fluechtling_daten in fluechtling_datens %}
            <tr>
                <td>{{ fluechtling_daten.id }}</td>
                <td>{{ fluechtling_daten.deutschKenntnis ? 'Yes' : 'No' }}</td>
                <td>{{ fluechtling_daten.anmeldeStelle }}</td>
                <td>{{ fluechtling_daten.ansprechPartner }}</td>
                <td>{{ fluechtling_daten.tel }}</td>
                <td>
                    <a href="{{ path('fluechtling_daten_show', {'id': fluechtling_daten.id}) }}">show</a>
                    <a href="{{ path('fluechtling_daten_edit', {'id': fluechtling_daten.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fluechtling_daten_new') }}">Create new</a>
{% endblock %}
