{{ form_start(form) }}
{{ form_errors(form) }}

<div class="row">
    <div class="col-lg-12">
        <label class="labelFont">Betrieb</label>
        {{  form_widget(form.betrieb, {'attr':{'class':'form-control'}}) }}
        <a class="btn BayreuthButton blankLinkButton btn-sm float-right smallButtonDistance" href="{{ path('betrieb_ausbildung') }}">neuen Betrieb anlegen</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label class="labelFont">Beginn</label>
        {{  form_widget(form.beginn, {'attr':{'placeholder':'01.01.2019', 'class':'form-control'}}) }}
    </div>
    <div class="col-lg-6">
        <label class="labelFont">Ende</label>
        {{  form_widget(form.ende, {'attr':{'placeholder':'01.01.2022', 'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <label class="labelFont">Beruf</label>
        {{  form_widget(form.beruf, {'attr':{'class':'form-control'}}) }}
        <br>
        <br>
    </div>
</div>
<input class="btn BayreuthButton buttonFont btn-block blankLinkButton" type="submit" />

{# TODO: https://github.com/eter    nicode/bootstrap-datepicker ? #}

{{ form_end(form) }}