{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.betrieb) }}
<a href="{{ path('betrieb_ausbildung') }}">neuen Betrieb anlegen</a>
{{ form_row(form.beginn) }}
{{ form_row(form.ende) }}
{{ form_row(form.beruf) }}
<input type="submit" />
{{ form_end(form) }}