{% extends 'base.html.twig' %}

{% block title %}Ausbildung index{% endblock %}

{% block body %}
    <h1>Ausbildung index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Beginn</th>
                <th>Ende</th>
                <th>Relation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ausbildung in ausbildungs %}
            <tr>
                <td>{{ ausbildung.id }}</td>
                <td>{{ ausbildung.beginn ? ausbildung.beginn|date('Y-m-d') : '' }}</td>
                <td>{{ ausbildung.ende ? ausbildung.ende|date('Y-m-d') : '' }}</td>
                <td>{{ ausbildung.relation }}</td>
                <td>
                    <a href="{{ path('ausbildung_show', {'id': ausbildung.id}) }}">show</a>
                    <a href="{{ path('ausbildung_edit', {'id': ausbildung.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ausbildung_new') }}">Create new</a>
{% endblock %}
