{{ form_start(form) }}

<div class="row">
    <div class="col-sm-6">
        <label class="labelFont{{ form.art.vars.required ? ' required' }}">Art</label>
        <div class="form-error">
            {{ form_errors(form.art) }}
        </div>
        {{ form_widget(form.art, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="col-sm-6">
        <label class="labelFont{{ form.anrede.vars.required ? ' required' }}">Anrede</label>
        <div class="form-error">
            {{ form_errors(form.anrede) }}
        </div>
        {{ form_widget(form.anrede, {'attr':{'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="labelFont{{ form.vorname.vars.required ? ' required' }}">Vorname</label>
        <div class="form-error">
            {{ form_errors(form.vorname) }}
        </div>
        {{ form_widget(form.vorname, {'attr':{'placeholder': 'Max', 'class':'form-control'}}) }}
    </div>
    <div class="col-sm-6">
        <label class="labelFont{{ form.nachname.vars.required ? ' required' }}">Nachname</label>
        <div class="form-error">
            {{ form_errors(form.nachname) }}
        </div>
        {{ form_widget(form.nachname, {'attr':{'placeholder': 'Mustermann', 'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="labelFont{{ form.strasse.vars.required ? ' required' }}">Straße</label>
        <div class="form-error">
            {{ form_errors(form.strasse) }}
        </div>
        {{ form_widget(form.strasse, {'attr':{'placeholder': 'Musterstraße', 'class':'form-control'}}) }}
    </div>
    <div class="col-sm-6">
        <label class="labelFont{{ form.hausnummer.vars.required ? ' required' }}">Hausnummer</label>
        <div class="form-error">
            {{ form_errors(form.hausnummer) }}
        </div>
        {{ form_widget(form.hausnummer, {'attr':{'placeholder': '15', 'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="labelFont{{ form.plz.vars.required ? ' required' }}">Postleitzahl</label>
        <div class="form-error">
            {{ form_errors(form.plz) }}
        </div>
        {{ form_widget(form.plz, {'attr':{'placeholder': '91234', 'class':'form-control'}}) }}
    </div>
    <div class="col-sm-6">
        <label class="labelFont{{ form.ort.vars.required ? ' required' }}">Ort</label>
        <div class="form-error">
            {{ form_errors(form.ort) }}
        </div>
        {{ form_widget(form.ort, {'attr':{'placeholder': 'Musterstadt', 'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="labelFont{{ form.telefonnummer.vars.required ? ' required' }}">Telefonnummer</label>
        <div class="form-error">
            {{ form_errors(form.telefonnummer) }}
        </div>
        {{ form_widget(form.telefonnummer, {'attr':{'placeholder': '0123456789', 'class':'form-control'}}) }}
    </div>
    <div class="col-sm-6">
        <label class="labelFont{{ form.email.vars.required ? ' required' }}">Email</label>
        <div class="form-error">
            {{ form_errors(form.email) }}
        </div>
        {{ form_widget(form.email, {'attr':{'placeholder': 'm.mustermann@musterkontakt.de', 'class':'form-control'}}) }}
    </div>
</div>

<br>
<button class="btn controlButton buttonFont btn-block blankLinkButton">{{ button_label|default('Weiter...') }}</button>
{{ form_end(form) }}
