{{ form_start(form) }}
{#{{ form_widget(form) }}#}

<div class="row">
    <div class="col">
        <label class="labelFont">Art</label>
        {{ form_widget(form.art, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="col">
        <label class="labelFont">Anrede</label>
        {{ form_widget(form.anrede, {'attr':{'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col">
        <label class="labelFont">Vorname</label>
        {{ form_widget(form.vorname, {'attr':{'placeholder': 'Max', 'class':'form-control'}}) }}
    </div>
    <div class="col">
        <label class="labelFont">Nachname</label>
        {{ form_widget(form.nachname, {'attr':{'placeholder': 'Mustermann', 'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col">
        <label class="labelFont">Straße</label>
        {{ form_widget(form.strasse, {'attr':{'placeholder': 'Musterstraße', 'class':'form-control'}}) }}
    </div>
    <div class="col">
        <label class="labelFont">Hausnummer</label>
        {{ form_widget(form.hausnummer, {'attr':{'placeholder': '15', 'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col">
        <label class="labelFont">Postleitzahl</label>
        {{ form_widget(form.plz, {'attr':{'placeholder': '90000', 'class':'form-control'}}) }}
    </div>
    <div class="col">
        <label class="labelFont">Ort</label>
        {{ form_widget(form.ort, {'attr':{'placeholder': 'Musterstadt', 'class':'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col">
        <label class="labelFont">Telefonnummer</label>
        {{ form_widget(form.telefonnummer, {'attr':{'placeholder': '0123456789', 'class':'form-control'}}) }}
    </div>
    <div class="col">
        <label class="labelFont">Email</label>
        {{ form_widget(form.email, {'attr':{'placeholder': 'm.mustermann@musterkontakt.de', 'class':'form-control'}}) }}
    </div>
</div>

<br>
<button class="btn controlButton buttonFont btn-block blankLinkButton">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
