<h2 class="headlineFont">Kontaktperson</h2>

<table class="table table-hover">
    <tbody>
    <tr>
        <th>Anrede</th>
        <td>{{ kontaktperson.anrede }}</td>
    </tr>
    <tr>
        <th>Vorname</th>
        <td>{{ kontaktperson.vorname }}</td>
    </tr>
    <tr>
        <th>Nachname</th>
        <td>{{ kontaktperson.nachname }}</td>
    </tr>
    <tr>
        <th>Strasse</th>
        <td>{{ kontaktperson.strasse }}</td>
    </tr>
    <tr>
        <th>Hausnummer</th>
        <td>{{ kontaktperson.hausnummer }}</td>
    </tr>
    <tr>
        <th>Plz</th>
        <td>{{ kontaktperson.plz }}</td>
    </tr>
    <tr>
        <th>Ort</th>
        <td>{{ kontaktperson.ort }}</td>
    </tr>
    <tr>
        <th>Telefonnummer</th>
        <td>{{ kontaktperson.telefonnummer }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ kontaktperson.email }}</td>
    </tr>
    </tbody>
</table>