{% extends 'base.html.twig' %}

{% block title %}Kontaktperson index{% endblock %}

{% block body %}
    <h1>Kontaktperson index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Anrede</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Strasse</th>
                <th>Hausnummer</th>
                <th>Plz</th>
                <th>Ort</th>
                <th>Telefonnummer</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kontaktperson in kontaktpeople %}
            <tr>
                <td>{{ kontaktperson.id }}</td>
                <td>{{ kontaktperson.anrede }}</td>
                <td>{{ kontaktperson.vorname }}</td>
                <td>{{ kontaktperson.nachname }}</td>
                <td>{{ kontaktperson.strasse }}</td>
                <td>{{ kontaktperson.hausnummer }}</td>
                <td>{{ kontaktperson.plz }}</td>
                <td>{{ kontaktperson.ort }}</td>
                <td>{{ kontaktperson.telefonnummer }}</td>
                <td>{{ kontaktperson.email }}</td>
                <td>
                    <a href="{{ path('kontaktperson_show', {'id': kontaktperson.id}) }}">show</a>
                    <a href="{{ path('kontaktperson_edit', {'id': kontaktperson.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('kontaktperson_new') }}">Create new</a>
{% endblock %}
