{% extends 'base.html.twig' %}

{% block title %}Kontaktperson{% endblock %}

{% block body %}
    <h1>Kontaktperson</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kontaktperson.id }}</td>
            </tr>
            <tr>
                <th>Anrede</th>
                <td>{{ kontaktperson.anrede }}</td>
            </tr>
            <tr>
                <th>Vorname</th>
                <td>{{ kontaktperson.vorname }}</td>
            </tr>
            <tr>
                <th>Nachname</th>
                <td>{{ kontaktperson.nachname }}</td>
            </tr>
            <tr>
                <th>Strasse</th>
                <td>{{ kontaktperson.strasse }}</td>
            </tr>
            <tr>
                <th>Hausnummer</th>
                <td>{{ kontaktperson.hausnummer }}</td>
            </tr>
            <tr>
                <th>Plz</th>
                <td>{{ kontaktperson.plz }}</td>
            </tr>
            <tr>
                <th>Ort</th>
                <td>{{ kontaktperson.ort }}</td>
            </tr>
            <tr>
                <th>Telefonnummer</th>
                <td>{{ kontaktperson.telefonnummer }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ kontaktperson.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('kontaktperson_index') }}">back to list</a>

    <a href="{{ path('kontaktperson_edit', {'id': kontaktperson.id}) }}">edit</a>

    {{ include('kontaktperson/_delete_form.html.twig') }}
{% endblock %}
