{% extends 'base-admin.html.twig' %}

{% block title %}Eintrittsdatum{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <a class="btn controlButton blankLinkButton pull-left" href="{{ path('admin') }}">Zurück zur Verwaltung...</a>
            <br>
            <br>
        </div>
        <div class="row">
            <p>Bei Anmeldungen vor dem {{ ersteHaelte }} wird {{ ersteHaelte }} als Eintrittsdatum gespeichert.</p>
            <p>Danach wird der {{ zweiteHaelfte }} als Eintrittsdatum gespeichert.</p>
            <br>
        </div>
        <div class="row">
            <a class="btn controlButton buttonFont blankLinkButton pull-left" href="{{ path('eintrittsdatum_edit') }}">Bearbeiten</a>
        </div>
    </div>


{% endblock %}


