{% extends 'base.html.twig' %}

{% block body %}
        <br>
        <h3 class="headlineFont text-center redHighlight">Bitte prüfen Sie ihre Angaben und schließen Sie die Anmeldung ab.</h3>
        <br>

    {% if registrierung.typ != "AUAU" and registrierung.typ != "EQ" %}
        <div class="alert alert-info" role="alert">Sie kommen ohne Vertrag zu uns</div>
    {% endif %}
    <h2 class="headlineFont">Schüler</h2>
    {{ include('schueler/_show.html.twig', { 'schueler': schueler}) }}
    {{ include('anmeldung/_checkButton.html.twig', {'route': 'schueler_update', 'text': ''}) }}
    {% if schueler.fluechtling %}
        <h2 class="headlineFont">Informationen zu Flüchtling</h2>
        {{ include('fluechtling/_show.html.twig', { 'fluechtling': fluechtling}) }}
        {{ include('anmeldung/_checkButton.html.twig', {'route': 'fluechtling_update', 'text': ''}) }}
    {% endif %}
    {% if schueler.umschueler %}
        <h2 class="headlineFont">Informationen zu Umschüler</h2>
        {{ include('umschueler/_show.html.twig', { 'umschueler': umschueler}) }}
        {{ include('anmeldung/_checkButton.html.twig', {'route': 'umschueler_update', 'text': ''}) }}
    {% endif %}
    {% if ausbildung is not null %}
        <h2 class="headlineFont">Ausbildung</h2>
        {{ include('ausbildung/_show.html.twig', { 'ausbildung': ausbildung}) }}
        {{ include('anmeldung/_checkButton.html.twig', {'route': 'ausbildung_update', 'text': ''}) }}
        {% if ausbildung.betrieb.id is null %}
            <h2 class="headlineFont">Betrieb</h2>
            {{ include('betrieb/_show.html.twig', { 'betrieb': ausbildung.betrieb }) }}
            {{ include('anmeldung/_checkButton.html.twig', {'route': 'betrieb_update', 'text': ''}) }}
        {% endif %}
    {% endif %}
        <h2 class="headlineFont">Kontaktpersonen</h2>
        {% for kontaktperson in kontaktpersonen %}
        {{ include('kontaktperson/_show.html.twig', { 'kontaktperson': kontaktperson}) }}
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        {{ include('anmeldung/_checkButton.html.twig', {'route': 'kontaktperson_update', 'text': 'Hinzufügen'}) }}


    {% if schulbesuche is not null %}
        <h2 class="headlineFont">Schulbesuche</h2>
        {{ include('schulbesuch/_showtable.html.twig', { 'schulbesuche': schulbesuche}) }}
        {{ include('anmeldung/_checkButton.html.twig', {'route': 'schulbesuch_update', 'text': 'Hinzufügen'}) }}
    {% endif %}
    <h2 class="headlineFont">Allgemein</h2>
    {{ include('allgemein/_show.html.twig', { 'registrierung': registrierung}) }}
    {{ include('anmeldung/_checkButton.html.twig', {'route': 'allgemein_update', 'text': ''}) }}

    <br>
    <a class="btn confirmButton buttonFont btn-block blankLinkButton" href="{{ path('anmeldung_beenden') }}">Anmeldung abschließen</a>
{% endblock %}
