{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        <br>
        <h3 class="headlineFont text-center">Bitte prüfen Sie ihre Angaben und schließen Sie die Anmeldung ab.</h3>
        <br>
    </div>

    {{ include('registrierung/_show.html.twig', { 'registrierung': registrierung}) }}
    <button><a href="{{ path('registrierung_update') }}">Bearbeiten</a></button>
    {% if ausbildung %}
    {{ include('ausbildung/_show.html.twig', { 'ausbildung': ausbildung}) }}
    {% endif %}
    {#
    {{ include('anmeldung/_checkButton.html.twig', {'route': 'registrierung_update'}) }}

    {% if fluechtling %}
        {{ include('fluechtling/_show.html.twig', { 'fluechtling': fluechtling}) }}
        {{ include('anmeldung/_checkButton.html.twig', {'route': 'fluechtling_update'}) }}
    {% endif %}

    {% if umschueler %}
        {{ include('umschueler/_show.html.twig', { 'umschueler': umschueler}) }}
        {{ include('anmeldung/_checkButton.html.twig', {'route': 'umschueler_update'}) }}
    {% endif %}

    {% for kontaktperson in kontaktpersonen %}
        {{ include('kontaktperson/_show.html.twig', { 'kontaktperson': kontaktperson}) }}
        {{ include('anmeldung/_checkButton.html.twig', {'route': 'kontaktperson_update'}) }}
    {% endfor %}
    {% for schulbesuch in schulbesuche %}
        {{ include('schulbesuch/_show.html.twig', { 'schulbesuch': schulbesuch}) }}
        {{ include('anmeldung/_checkButton.html.twig', {'route': 'schulbesuch_update'}) }}
    {% endfor %}
    {# TODO Button um weiteren Schulbesuch und Kontaktperson hinzuzufuegen #}

    {% if betrieb is not null %}
        {{ include('betrieb/_show.html.twig', { 'betrieb': betrieb}) }}
        {{ include('anmeldung/_checkButton.html.twig', {'route': 'betrieb_update'}) }}
    {% endif %}
    {% if ausbildung is not null %}
        {{ include('ausbildung/_show.html.twig', { 'ausbildung': ausbildung}) }}
        {{ include('anmeldung/_checkButton.html.twig', {'route': 'ausbildung_update'}) }}
    {% endif %}
    {{ include('schueler/_show.html.twig', { 'schueler': schueler}) }}
    {{ include('anmeldung/_checkButton.html.twig', {'route': 'schueler_update'}) }}

    <br>
    {# TODO diesen Farblich abheben #}
    <a class="btn confirmButton buttonFont btn-block blankLinkButton" href="{{ path('anmeldung_beenden') }}">Anmeldung abschließen</a>
{% endblock %}
