{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_row(form.beschaeftigungsArt) }}
    </div>

    <div>
        {{ form_row(form.letzteSchule) }}
    </div>

    <div>
        {{ form_row(form.ausbildungsberuf) }}
    </div>

    {{ form_end(form) }}
{% endblock %}