{% extends 'base.html.twig' %}

{% block title %}Registrierung index{% endblock %}

{% block body %}
    <h1>Registrierung index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datum</th>
                <th>Mitteilung</th>
                <th>Wohnheim</th>
                <th>EintrittAm</th>
                <th>Ip</th>
                <th>Typ</th>
                <th>IstEQMassnahme</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for registrierung in registrierungs %}
            <tr>
                <td>{{ registrierung.id }}</td>
                <td>{{ registrierung.datum ? registrierung.datum|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ registrierung.mitteilung }}</td>
                <td>{{ registrierung.wohnheim ? 'Yes' : 'No' }}</td>
                <td>{{ registrierung.eintrittAm ? registrierung.eintrittAm|date('Y-m-d') : '' }}</td>
                <td>{{ registrierung.ip }}</td>
                <td>{{ registrierung.typ }}</td>
                <td>{{ registrierung.istEQMassnahme ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('registrierung_show', {'id': registrierung.id}) }}">show</a>
                    <a href="{{ path('registrierung_edit', {'id': registrierung.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('registrierung_new') }}">Create new</a>
{% endblock %}
