{% extends 'base.html.twig' %}

{% block title %}Registrierung{% endblock %}

{% block body %}
    <h1>Registrierung</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ registrierung.id }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ registrierung.datum ? registrierung.datum|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mitteilung</th>
                <td>{{ registrierung.mitteilung }}</td>
            </tr>
            <tr>
                <th>Wohnheim</th>
                <td>{{ registrierung.wohnheim ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>EintrittAm</th>
                <td>{{ registrierung.eintrittAm ? registrierung.eintrittAm|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ registrierung.ip }}</td>
            </tr>
            <tr>
                <th>Typ</th>
                <td>{{ registrierung.typ }}</td>
            </tr>
            <tr>
                <th>IstEQMassnahme</th>
                <td>{{ registrierung.istEQMassnahme ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('registrierung_index') }}">back to list</a>

    <a href="{{ path('registrierung_edit', {'id': registrierung.id}) }}">edit</a>

    {{ include('registrierung/_delete_form.html.twig') }}
{% endblock %}
